*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    
}
body{
    background-image: url(xoe1.jpg);
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    background: transparent;
    font-weight: 700;
    font-size: 50px;
    height: 100px;

}
p{
    display: flex;
    justify-content: center;
    color: white;
}


#choices{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

#choices button{
    border: none;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 4px 4px 10px 5px rgb(63, 60, 60);
    cursor: pointer;
}
#choices button:hover{
        transition: all 1s ease-in-out;
    transform: scale(1.05);
    
}
.rock{
    background-image: url(rock.png) ;
}
.paper{
    background-image: url(paper.png) ; 
}
.scissors{
    background-image: url(scissors.png) ;
}

h2 {  
    color: white;
    margin-bottom: 15px;
}

.box{
    border-radius: 10px;
    background: transparent;
    width: 400px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 20px auto;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    box-shadow: 1px 1px 10px 5px rgb(232, 221, 236) ;

}
.box:hover{
    box-shadow: 2px 2px 20px 6px white;
}
.middle-box{
    display: flex;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  flex-direction: row;
  justify-content: space-evenly;
  
}





#resultDisplay{
    font-size: 30px;
    font-weight: 700;

}


.reset{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.reset-button{
    height:30px ;
    width: 140px;
    font-size: 19px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: rgb(168, 132, 214);
    box-shadow: 2px 2px 5px 2px rgb(56, 53, 53);
}
.reset-button:hover{
    border: none;
    background: linear-gradient(to top right,rgb(226, 55, 212), rgb(231,233,105)) ;
    box-shadow: 20px 0 100px 1px rgb(226,55,212),
                20px 0 100px 1px rgb(231, 233, 105) ;
}



